

.dropbtn {
  background-color: #FCF7F8;
  font-size: 16px;
  border: none;
  cursor: pointer;
  border-radius: 32px;
  
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 32px;

  margin-top:20px;
}

.dropbtn:hover, .dropbtn:focus {
  background-color: #F2F2F8;
}

.dropdown {
  right: 0;
  position: fixed;
  display: inline-block;
  margin: 10px;
  z-index:99;
}


.dropdown-content2 {
  float: right;
  position: absolute;
  min-width: 160px;
  overflow: auto;
  right: 0;
  z-index: 1;
  display: none;
}

.test {
  background-color: #FCF7F8;
  border: none;
  color: black;
  float: right;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 32px;
  margin-top:20px;  
  -webkit-box-shadow: 51px 51px 29px -29px rgba(0,0,0,0.75);
  -moz-box-shadow: 51px 51px 29px -29px rgba(0,0,0,0.75);
  box-shadow: 51px 51px 29px -29px rgba(0,0,0,0.75);
}


#home {
  background-image: url("section1background.jfif");
  background-size: cover;

}
.dropdown a:hover {background-color: #ddd;}
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

.ourteam-style {
  background-color: #fafafa;
}

.card-wdss {
  min-height: 40vh;

}
@media (min-width: 700px) {
  .hidden-ss {
    display: none !important;
  }
}

.logo {
  position: fixed;
  z-index: 10;
  margin:20px;
}