
body {
  -webkit-text-size-adjust: 100%;
}
.is-selected-team {
  color: black;
}
.is-hidden-team {
  color:#cccccc;
}

/* #ambassador-cards {
  display:none;
} */
/* The dots/bullets/indicators */
.dot, .dot-team, .dot-team-ambassador {
  cursor: pointer;
  height: 5px;
  width: 5px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.glide-active {
  background-color: #28458f;
}

.dropbtn {
  background-color: #e0e0e0;
  font-size: 16px;
  border: none;
  cursor: pointer;
  border-radius: 32px;
  
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 32px;

}

.dropbtn:hover, .dropbtn:focus {
  background-color: #c2c2c2;
}

#home-title {
  /* display: none; */
}
:root {
  --animate-delay: 0.1s;
}
.dropdown {
  right: 0;
  position: fixed;
  display: inline-block;
  margin: 10px;
  z-index:99;
}

.dropdown-content2 {
  float: right;
  position: absolute;
  min-width: 160px;
  overflow: auto;
  right: 0;
  z-index: 1;
  display: none;
}

#venture-research-contents, #venture-teaching-contents,
#venture-podcast-contents, #venture-careers-contents,
#venture-social-good-contents {
  display: none;
  text-shadow: 2px 0px 5px #000000;

}

.pagenav {
  background-color: #e0e0e0;
  border: none;
  color: black;
  float: right;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 32px;
  margin-top:20px;  
  -webkit-box-shadow: 51px 51px 29px -29px rgba(0,0,0,0.75);
  -moz-box-shadow: 51px 51px 29px -29px rgba(0,0,0,0.75);
  box-shadow: 51px 51px 29px -29px rgba(0,0,0,0.75);
}


#home {
  background-image: url("section1background.jfif");
  /* background-size: cover; */

}



#contact-section {
  background-color: #161616;
  
}
.dropdown a:hover {background-color: #c2c2c2;}
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

.ourteam-style {
  background-color: #fafafa;
}

.card-wdss {
  min-height: 40vh;
  background-color: #28458f; 

}

.card-wdss-ambassador {
  min-height: 60vh;
  background-color: #28698f; 

}

.card-fa {
  font-size: 1.7em;
}

@media (min-width: 700px) {
  .hidden-ss {
    display: none !important;
  }
}

.logo {
  position: fixed;
  z-index: 10;
  margin:20px;
}

.tile {
  margin:0;
}

.tile.is-vertical>.tile.is-child:not(:last-child) {
  margin: 0
}

.tile.is-parent {
  padding: 0
}


/* 
.blend img {
  filter:  invert(100%) sepia(0%) saturate(0%) hue-rotate(93deg) brightness(103%) contrast(103%);

} */

.page-title {
  position: fixed;
}

.curr-page-title {
  z-index: 100;
}

#member-info {
  position: absolute;
}
#wdss-logo {
  margin-top: 0.5vh;
}
.curr-title {
  margin-top: 1vh;
  z-index: 100;
}
#research-tile {
  
  background: rgb(2,0,36);
  background: linear-gradient(90deg, rgba(2,0,36,0.5) 0%, rgba(9,9,121,0.5) 34%, rgba(0,212,255,0.5) 100%);
  min-height: 40vh; 
   /* background: red; */
  color: white;   
}



#research-tile-image {
  background-image: url("../img/ventures/research2.jpeg");
  background-size: cover;
}



#research-tile:hover {
  background: none;
  backdrop-filter: blur(4px);
}


#teaching-tile {
  background: rgb(2,0,36);
  background: linear-gradient(90deg, rgba(2,0,36,0.5) 0%, rgba(9,9,121,0.5) 34%, rgba(0,212,255,0.5) 100%);
}

#teaching-tile:hover {
  background: none;
  backdrop-filter: blur(4px);
}

#teaching-tile-image {
  background-image: url("../img/ventures/teaching.jpg");
  background-size: cover;
  
}

#podcast-tile {
  background: rgb(193,233,148);
  background: linear-gradient(90deg, rgba(193,233,148,0.5) 0%, rgba(174,238,189,0.5) 100%);
}

#podcast-tile:hover {
  background: none;
  backdrop-filter: blur(4px);
}

#podcast-tile-image {
  background-image: url("../img/ventures/podcast.jpeg");
  background-size: cover;
}

#social-good-tile {
  background: rgb(0,255,226);
  background: linear-gradient(90deg, rgba(0,255,226,0.5) 0%, rgba(148,221,233,0.5) 89%);
}

#social-good-tile:hover {
  background: none;
  backdrop-filter: blur(4px);
}

#social-good-tile-image {
  background-image: url("../img/ventures/careers.jpeg");
  background-size: cover;
}

#careers-tile {
  background: rgb(0,155,255);
  background: radial-gradient(circle, rgba(0,155,255, 0.5) 0%, rgba(148,148,233,0.5) 89%);
  min-height: 25vh;
}

#careers-tile:hover {
  background: none;
  backdrop-filter: blur(4px);
}

#careers-tile-image {
  background-image: url("../img/ventures/careers.jpeg");
  background-size: cover;
}

.tile {
  border-radius: 0;
}


#research-officer-card {
  background-image: url("../img/team/janique.jpg")
}
@media (max-width: 700px) {
  #research-tile {
    min-height: 0vh;
    font-size: 10px;

  }
  #careers-tile {
    min-height: 0vh;
    font-size: 10px;
 
  }
}




@media (max-width: 770px) {
    .banner {
      top:0vh;
      
    }
    #corevalues {
      font-size: 14px;;
    }
    .banner img {
      display: none;
    }
    
}



a p{
  text-decoration: none;
}


.carousel-image a {
  color: white;
}

.carousel-image {
  width: 60vw;
  padding: 0;
  margin: 0;
}

.carousel-image {
  position: relative;
  /*important*/
  float: left;
  /*important*/
  display: inline;
  
  padding: 0;
  margin: 0;

}

.desc {
  position: absolute;
  /* Important */
  width: 100%;
  /* Important */
  bottom: 0;
  /* Important */
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  filter: alpha(opacity=50);
}

.desc {
  padding: 5px;
  text-align: center;
}

.carousel-image img {
  vertical-align: top;
}
.accordion {
  background-color: #eee;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  height:70px;
  overflow:hidden;
  text-align: left;
  border: none;
  outline: none;
  transition: 0.4s;
  margin-top:4vh;
}

.ventures-mobile {
 display: none;
 margin-top:-3vh;
}

.ventures-desktop {
 display: none;
}

/* Style the accordion panel. Note: hidden by default */
.panel {
  padding: 0 18px;
  background-color: white;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  margin-bottom: 20px;

}


.value-icons {
  display: none;
}

.vertical-card {
  display: none;
}
.mobile-horizontal-card {
  display: block;
}

.regular-values-desc {
  display: none;
}

.regular-core {
  display: none;
}

@media (min-width:320px)   { 
  .card-wdss {
    min-height: 60vh;
    background-color: #28458f; 
  
  }
  /* smartphones, iPhone, portrait 480x320 phones */ 
  .contact-title-mobile {
    margin-bottom: 0.5em;
    color:red;
  }
  .regular-values-desc {
    display: block;
  }
  .small-screen-values-desc {
    display: none;
  }
  #contact-section {
    overflow:scroll;
  }
  .ventures-mobile {
    display: block;
  }
  #research-tile-image-mobile {
    background-image: linear-gradient(90deg, rgba(2,0,36,0.5) 0%, rgba(9,9,121,0.5) 34%, rgba(0,212,255,0.5) 100%),url("../img/ventures/research.jpg");
    background-size: cover;
  }

  
  #teaching-tile-image-mobile {
    background-image: linear-gradient(90deg, rgba(2,0,36,0.5) 0%, rgba(9,9,121,0.5) 34%, rgba(0,212,255,0.5) 100%),   url("../img/ventures/teaching.jpg");
    background-size: cover;
  }
  
  #podcast-tile-image-mobile {
    background-image: linear-gradient(90deg, rgba(193,233,148,0.5) 0%, rgba(174,238,189,0.5) 100%), url("../img/ventures/podcast.jpeg");
    background-size: cover;
  }
  
  #social-good-tile-image-mobile {
    background-image: linear-gradient(90deg, rgba(0,255,226,0.0) 0%, rgba(148,221,233,0.0) 89%), url("../img/ventures/socialgood2.jpeg");
    background-size: cover;
  }

  #careers-tile-image-mobile {
    background-image: radial-gradient(circle, rgba(0,155,255, 0.5) 0%, rgba(148,148,233,0.5) 89%), url("../img/ventures/careers.jpeg");
    background-size: cover;
  }

  .value-icons {
    display: none;
    -webkit-filter: drop-shadow(0 0 8px rgba(69, 112, 255, 0.8));
     filter: drop-shadow(0 0 8px rgba(45, 102, 207, 0.8));
  }
  .value-icons-small {
    -webkit-filter: drop-shadow(0 0 6px rgba(69, 112, 255, 0.8));
    filter: drop-shadow(0 0 6px rgba(45, 102, 207, 0.8));
  }
  .vertical-card {
    display: block;
  }
  
  .mobile-horizontal-card {
    display: none;
  }
}

@media (min-width: 412px) {
  .regular-core {
    display: inline;
  }
  .small-core {
    display: none;
  }
}
@media (min-width:481px)  { /* portrait e-readers (Nook/Kindle), smaller tablets @ 600 or @ 640 wide. */ 
  .contact-title-mobile {
    margin-bottom: 0.5em;
    color:red;
  }
  #contact-section {
    overflow:scroll;
  }

 

  .ventures-mobile {
    display: block;
  }
  #research-tile-image {
    background-image: linear-gradient(90deg, rgba(2,0,36,0.5) 0%, rgba(9,9,121,0.5) 34%, rgba(0,212,255,0.5) 100%),url("../img/ventures/research.jpg");
    background-size: cover;
  }

  
  #teaching-tile-image {
    background-image: linear-gradient(90deg, rgba(2,0,36,0.5) 0%, rgba(9,9,121,0.5) 34%, rgba(0,212,255,0.5) 100%),   url("../img/ventures/teaching.jpg");
    background-size: cover;
  }
  
  #podcast-tile-image {
    background-image: linear-gradient(90deg, rgba(193,233,148,0.5) 0%, rgba(174,238,189,0.5) 100%), url("../img/ventures/podcast.jpeg");
    background-size: cover;
  }
  
  #social-good-tile-image {
    background-image: linear-gradient(90deg, rgba(0,255,226,0.0) 0%, rgba(148,221,233,0.0) 89%), url("../img/ventures/socialgood2.jpeg");
    background-size: cover;
  }

  #careers-tile-image {
    background-image: radial-gradient(circle, rgba(0,155,255, 0.5) 0%, rgba(148,148,233,0.5) 89%), url("../img/ventures/careers.jpeg");
    background-size: cover;
  }

  .value-icons {
    display: block;
    margin-bottom: 1em;
  }
  .value-icons>img {
    height: 5vh;   
 
  }}
  .vertical-card {
    display: block;
  }
  
  .mobile-horizontal-card {
    display: none;
  }
}
@media (min-width:641px)  { /* portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones */
  .card-wdss {
    min-height: 40vh;
    background-color: #28458f; 
  
  }
}
@media (min-width:961px)  { /* tablet, landscape iPad, lo-res laptops ands desktops */ 
  .regular-values-desc {
    display: block;
  }
  /* .small-screen-values-desc {
    display: flex;
  } */
  #contact-section {
    overflow:hidden;
  }
  .ventures-mobile {
    display: none;
  }
  .ventures-desktop {
    display: block;
  }
  #research-tile-image {
    background-image:url("../img/ventures/research2.jpeg");
    background-size: cover;
  }

  #teaching-tile-image {
    background-image: url("../img/ventures/teaching.jpg");
    background-size: cover;
  }
  
  #podcast-tile-image {
    background-image: url("../img/ventures/podcast.jpeg");
    background-size: cover;
  }
  
  #social-good-tile-image {
    background-image: url("../img/ventures/socialgood2.jpeg");
    background-size: cover;
  }
  
  #careers-tile-image {
    background-image: url("../img/ventures/careers.jpeg");
    background-size: cover;
  }
  .venture-text {
    font-size: 1em;
  }
  
}

@media (min-width:1024px) { /* big landscape tablets, laptops, and desktops */ 
  .small-screen-values-desc {
    display: none;
  }
  .regular-values-desc {
    display: block;
  }
  .value-icons {
    display: block;
    margin-bottom: 3em;
  }
  .venture-text {
    font-size: 1.3em;
  }
  .value-icons>img {
    height: 10vh;   
 
  }}
@media (min-width:1281px) { /* hi-res laptops and desktops */ }



.is-horizontal-center {
  justify-content: center;
}
@media  screen 
  and (min-width: 414px) 
  
  and (max-height: 414px)
  and (orientation: landscape) { 
    
    .vertical-card {
      display: none;
    }
    .mobile-horizontal-card {
      display: block;
    }  .card-wdss {
      min-height: 40vh;
      background-color: #28458f; 
    
    }
}   

#copyright {
  position: absolute;
  bottom:0;
  left:0;
}
